.container {
	max-width: 900px;
}

.container h1 {
/*	padding-bottom: .2em;*/
	font-size: 5em;
}

.custom-container {
	padding-top: 1em;
	padding-bottom: 3em;
}

.text-left {
	margin-top: 0;
}

.my-name {
	margin-bottom: 3px;
}

.nav-pills {
        float: none;
        text-align: center;
    }
.nav-pills > li {
        float: none;
    }
.nav-pills > li {
        display: inline;
    }
.nav-pills > li > a {
        display: inline-block;
    }

#the-top {
	margin-top: 8em;
}

body {
    padding: 30px 0px;
}

#lightbox .modal-content {
		padding-top: 4em;
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}